html {
  font-size: 62.5%;
  overflow-x: hidden;
  max-width: 100%;
}

.container {
  font-family: 'Poppins', 'Noto Sans KR', sans-serif;
  font-weight: 200;
  width: 100%;
}

.wrapper {
  margin: 0 20px;
}

.header {
  position: relative;
  margin-top: 26px;
}

.hello,
.user-name {
  font-size: 3rem;
  font-weight: 300; /* light */
  margin-bottom: 0.3em;
}

.name-form input {
  width: calc(100% - 40px);
  font-family: 'Poppins', sans-serif;
  font-weight: 300; /* light */
  font-size: 3rem;
  border: 0;
  color: #555;
}

.name-form input::placeholder {
  font-family: 'Poppins', sans-serif;
  font-weight: 300; /* light */
  color: #b2b2b2;
  /* border-bottom: 1px solid; */
}

.header-btns {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 1.2rem;
  font-weight: 300;
  display: flex;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}




.toggle-date,
.share,
.question {
  display: inline-block;
  padding: 4px 8px;
  border: 1px solid;
  border-radius: 50% / 60%;
}


.toggle-date {
  margin-right: 10px;
}



.share-text {
  position: absolute;
  top: -9999px;
}


.question {
  padding: 4px 6px 4px 7px;
  border-radius: 50%;
  margin-left: 10px;

}


.question-wrapper b {
  font-weight: 500;
}

.question-wrapper p {
  margin-top: 0.2em;
  margin-bottom: 1.5em;
}

.question-wrapper p:nth-of-type(4) {
  margin-bottom: 0em;
}

.question-wrapper {
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  background: #fff;
  padding: 20px 15px;
  border: 1px solid;
  border-radius: 10px;
  font-size: 1.2rem;
  line-height: 1.45;
  z-index: 99;
}

.btn-close {
  font-size: 1.5rem;
}

.mood-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 50px;
  /* border: 1px solid #000; */
}

.mood-circle {
  position: relative;
  width: calc(calc(100% - 48px) / 7);
  padding-bottom: calc(calc(100% - 48px) / 7);
  margin-right: 8px;
  margin-bottom: 8px;
  border: 1px dashed #b2b2b2;
  border-radius: 50%;
  box-sizing: border-box;
}

.mood-circle:nth-child(7n) {
  margin-right: 0;
}

.mood-circle[data-score="0"] {
  background-color: #4d4d4d;
  border: 0;
}

.mood-circle[data-score="1"] {
  background-color: #e65744;
  border: 0;
}

.mood-circle[data-score="2"] {
  background-color: #ff8f57;
  border: 0;
}

.mood-circle[data-score="3"] {
  background-color: #fccc60;
  border: 0;
}

.mood-circle[data-score="4"] {
  background-color: #5f8ef0;
  border: 0;
}

.mood-circle[data-score="5"] {
  background-color: #36986d;
  border: 0;
}

.mood-circle[data-score="6"] {
  padding-bottom: calc(calc(100% - 62px) / 7);
}


.mood-circle.rotate {
  animation: rotate-circle 0.8s ease-in-out 1;
}


@keyframes rotate-circle {
  0% {
    transform: rotateY(0);
  }
  100% {
    transform: rotateY(360deg);
  }
}




.circle-date {
  cursor: pointer;
  font-size: 1.4rem;
  display: block;
  position: absolute;
  width: 100%;
  text-align: center;
  top: calc(calc(100% - 1.4rem) / 2);
  left: 0;
  color: #fff;
  pointer-events: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.footer {
  position: fixed;
  width: calc(100% - 40px);
  bottom: 26px;
}

.month {
  font-size: 2.7rem;
  font-weight: 300;
  margin-bottom: 0.5em;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.app-name {
  position: relative;
  font-size: 6.5rem;
  font-weight: 200;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.app-name span:nth-child(2) {
  font-weight: 200;
  animation: spacing 3s ease alternate infinite;
}

@keyframes spacing {
  0% {
    letter-spacing: 0;
  }
  100% {
    letter-spacing: 0.2em;
  }
}


.bubble {
  position: absolute;
  background: #000;
  color: #fff;
  padding: 10px 12px;
  border-radius: 20px;
  font-size: 1.2rem;
}

.theme-bubble {
  left: 140px;
  bottom: 120px;
}

.tail-left .bubble-tail {
  position: absolute;
  transform: scaleX(-1);
  bottom: -8px;
  left: 0;
}

.tail-right .bubble-tail {
  position: absolute;
  bottom: -8px;
  right: 0;
}

.toast {
  right: 55px;
  bottom: 55px;
  width: max-content;
  visibility: hidden;
}

.toast.show {
  visibility: visible;
  animation: fade-in 700ms, fade-out 700ms 2000ms;
}


@keyframes fade-in {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}
@keyframes fade-out {
  from {
      opacity: 1;
  }
  to {
      opacity: 0;
  }
}




.btn-mood {
  width: 56px;
  height: 56px;
  color: #fff;
  background: #000;
  font-size: 3rem;
  font-weight: 200;
  padding-top: 2px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  bottom: 4px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn-mood span {
  pointer-events: none;
}

.mood-slc-wrapper {
  padding: 30px 24px;
  width: fit-content;
  position: fixed;
  bottom: 0;
  right: 0;
  background: #fff;
  border: 1px solid #000;
  border-bottom: 0;
  border-right: 0;
  border-radius: 20px 0 0 0;
  opacity: 1;
  z-index: 99;
}

.mood-slc-wrapper .title {
  display: inline-block;
  width: 100%;
  font-size: 3rem;
  font-weight: 300;
  padding-bottom: 0.7em;
  border-bottom: 1px solid;
  margin-bottom: 0.5em;
  pointer-events: none;
}

.txt-score {
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 0.8em;
  pointer-events: none;
}

.mood-slc {
  display: flex;
  justify-content: space-between;
}

.btn-mood-slc {
  width: 50px;
  height: 50px;
  background-color: #333;
  margin-right: 10px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.4rem;
  font-weight: 200;
  color: #fff;
}

.btn-mood-slc:nth-child(1) {
  background-color: #e65744;
}

.btn-mood-slc:nth-child(2) {
  background-color: #ff8f57;
}

.btn-mood-slc:nth-child(3) {
  background-color: #fccc60;
}

.btn-mood-slc:nth-child(4) {
  background-color: #5f8ef0;
}

.btn-mood-slc:nth-child(5) {
  background-color: #36986d;
  margin-right: 0;
}

.open {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: 0.3s ease-in-out;
}

.close {
  opacity: 0;
  transform: translate3d(100%, 0, 0);
  transition: 0.3s ease-in-out;
}

.hidden {
  display: none;
}

.opa-0 {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s;
}

.opa-50 {
  opacity: 0.5;
  transition: opacity 0.3s;
}

.opa-100 {
  opacity: 1;
  transition: opacity 0.3s;
}


.dimmed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
}


.date-picker-wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  padding: 40px 30px 30px;
  background: #fff;
  border: 0;
  border-top: 1px solid #000;
  border-radius: 20px 20px 0 0;
  z-index: 99;
}


.date-picker-wrapper.open {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: 0.3s ease-in-out;
}

.date-picker-wrapper.close {
  opacity: 0;
  transform: translate3d(0, 100%, 0);
  transition: 0.3s ease-in-out;
}



.date-picker-year {
  display: flex;
  width: fit-content;
  margin: 0 auto;
}

.date-picker-year span {
  font-size: 2.5rem;
  padding: 0 1em;
}

.year-prev,
.year-next {
  width: 1.5rem;
  height: 1.5rem;
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
  margin-top: 4px;
}

.inactive {
  border-left: 1px solid #b2b2b2;
  border-bottom: 1px solid #b2b2b2;
}

.year-prev {
  transform: rotate(45deg);
}

.year-next {
  transform: rotate(-135deg);
}


.date-picker-month {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}


.date-picker-month .month-circle {
  width: calc(calc(100% - 40px) / 6);
  padding-bottom: calc(calc(100% - 52px) / 6);
  margin-right: 8px;
  margin-bottom: 8px;
  color: #b2b2b2;
  border: 1px dashed #b2b2b2;
  border-radius: 50%;
  position: relative;
  text-align: center;
}


.date-picker-month .month-circle[data-status="exist"] {
  background: #b2b2b2;
  color: #fff;
  border: 0;
}

.date-picker-month .month-circle[data-status="selected"] {
  background: #333;
  color: #fff;
  border: 0;
}


.date-picker-month .month-circle span {
  font-size: 2rem;
  position: absolute;
  width: 100%;
  top: calc(calc(100% - 2rem) / 2);
  left: 0;
}

.date-picker-month .month-circle:nth-child(6n) {
  margin-right: 0;
}



.dimmed-black {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0.5;
  background: #000;
}




/* 다크모드 */

body.white-bg {
  background: #fff;
  transition: 0.3s ease;
}

body.dark-bg {
  background: #000;
  color: #fff;
  transition: 0.3s ease;
}

.name-form.dark input {
  background: #000;
  color: #cfcfcf;
}

.btn-mood.white {
  background: #fff;
  color: #000;
}

.mood-slc-wrapper.dark {
  background: #000;
  border: 1px solid #fff;
  border-bottom: 0;
  border-right: 0;
}

.circle-date.dark {
  color: #000;
}

.toast.dark {
  filter: invert(100%)
}

.date-picker-wrapper.dark {
  background: black;
  border-color: #fff;
}

.date-picker-year.dark {
  color: #fff;
}


.year-prev.dark,
.year-next.dark {
  border-color: #fff;
}

.dark.inactive,
.dark.inactive {
  border-color: #666;
}

.date-picker-month.dark .month-circle[data-status="empty"] {
  color: #b2b2b2;
}

.date-picker-month.dark .month-circle[data-status="exist"] {
  background: #b2b2b2;
  color: #000;
  border: 0;
}

.date-picker-month.dark .month-circle[data-status="selected"] {
  background: #fff;
  color: #000;
  border: 0;
}


.question-wrapper.dark {
  background-color: #000;
  color: #fff;
}






@media screen and (min-width: 426px) {
  .container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
  }

  .wrapper {
    position: relative;
    width: 425px;
    background-color: #fff;
    padding: 10px 30px;
  }

  .wrapper.dark {
    background-color: #000;
    transition: 0.3s ease;
  }

  .mood-wrapper {
    margin-bottom: 150px;
  }

  .header-btns {
    font-size: 1.3rem;
    font-weight: 300;
  }

  .footer {
    position: relative;
    width: 100%;
  }

  .btn-mood {
    width: 54px;
    height: 54px;
    font-size: 3rem;
  }
  

  .theme-bubble {
    display: none;
  }

  .btn-mood-slc {
    width: 54px;
    height: 54px;
  }

  .mood-circle {
    width: calc(calc(100% - 60px) / 7);
    padding-bottom: calc(calc(100% - 60px) / 7);
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .mood-circle[data-score="6"] {
    padding-bottom: calc(calc(100% - 74px) / 7);
  }

  .mood-slc-wrapper {
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .open {
    display: block;
    visibility: visible;
    transform: translate3d(0, 0, 0);
  }

  .close {
    display: block;
    visibility: hidden;
    transform: translate3d(0, 0, 0);
  }


  .date-picker-wrapper {
    position: absolute;
    width: inherit;
  }

  .date-picker-wrapper.close {
    transform: translate3d(0, 0, 0);
  }

}